# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Project
.gradle
.vscode

# Gradle
build

build-log.txt

grammar/*.interp
grammar/*.tokens
grammar/echelon*.h
grammar/echelon*.cpp

src/grammar_parser/headers/echelon*.h
src/grammar_parser/cpp/echelon*.cpp

!gtest-1.8.0/libgtest.a
